@import url('https://fonts.googleapis.com/css?family=Lato');


* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
}

span.bscode { color:#d95f02 }
span.bsval  { color: #377eb8}
